{% extends 'vespawatch/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-4 col-lg-auto">
            <h2>{% trans 'Log in' %}</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">{{ field.label }}: {{ error|escape }}</div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" class="form-control" required placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" class="form-control" required placeholder="Password">
                </div>

                <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" style="margin-top: 10px;">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</main>
{% endblock %}
