option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoproject.settings.settings_dev"
    "PYTHONPATH": "/opt/python/current/app/djangoprojectd:$PYTHONPATH"
    VESPA_SU_NAME: "vespawatch"
    VESPA_SU_PWD: "vespawatch"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangoproject/djangoproject/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py create_su"
    leader_only: true

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
