option_settings:
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SETTINGS_MODULE" : "djangoproject.settings.settings"
    "PYTHONPATH": "/opt/python/current/app/djangoprojectd:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: djangoproject/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"
  aws:autoscaling:asg:
    Availability Zones: Any
    Cooldown: 720
    MaxSize: 3
    MinSize: 1
  aws:autoscaling:launchconfiguration:
    EC2KeyName: LW-INBO-VESPAWATCH
    MonitoringInterval: "5 minute"
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role-vespawatch
  aws:elasticbeanstalk:cloudwatch:logs:  # pushes default log streams to cloudwatch, not custom once
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 14
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: classic
  aws:ec2:vpc:
    AssociatePublicIpAddress: false
    ELBScheme: internal
  aws:rds:dbinstance:
    DBAllocatedStorage: 5
    DBEngine: postgres
    DBName: vespawatch

commands:
  01_gdal_install:
    command: "sudo yum --enablerepo=epel -y install gdal-devel gdal proj"
  02_node_install:
    command: "sudo yum -y install epel-release && curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash - && sudo yum -y install nodejs"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py create_su"
    leader_only: true

  03_compilemessages:
    command: "source /opt/python/run/venv/bin/activate && python manage.py compilemessages"

  04_npm_build:
    command: "npm config set strict-ssl false && npm install && npm run build:all"

  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

Resources:
   AWSEBAutoScalingGroup:
     Type: "AWS::AutoScaling::AutoScalingGroup"
     Properties:
       HealthCheckType: "ELB"
       HealthCheckGracePeriod: "600"