option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoproject.settings.settings"
    "PYTHONPATH": "/opt/python/current/app/djangoprojectd:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangoproject/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py create_su"
    leader_only: true

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

  04_installs:
    command: "sudo yum --enablerepo=epel -y install gdal-devel gdal"

  05_get_observations_inaturalist:
    command: "source /opt/python/run/venv/bin/activate && python manage.py import_inat_project_observations"
    leader_only: true
