{% load i18n %}

<nav id="main-navigation" class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand font-weight-light" href="/">{{ settings.WEBSITE_NAME }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

        </ul>

        {% include 'vespawatch/_language_selector.html' %}

    </div>


    <div class="collapse navbar-collapse" id="menu-list">
        <ul id="user-account" class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown"><a id="user" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Me<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="disabled"><a><h5>Hi {{ user.username }}</h5></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="logout" href="{% url 'logout' %}">Log Out</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
</div>
            <ul class="navbar-nav">



            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i class="material-icons">lock</i></a></li>
        </ul>
</nav>