{% extends 'vespawatch/base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col">
            <form id="addressForm">
                Address: <input type="text" id="address" name="address">
                <input type="submit">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="map" style="width: 640px; height: 480px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Longitude: <input type="text" id="lon" name="lon">
            Latitude: <input type="text" id="lat" name="lat">
        </div>
    </div>
</main>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'vespawatch/leaflet-geosearch.min.js' %}"></script>
<script>
    var mapId = "map";
    var mapPosition = [50.5, 4.5];
    var mapZoom = 8;

    var $addressForm = $("#addressForm");
    var $addressField = $('#address');

    var $latField = $('#lat');
    var $lngField = $('#lon');

    var marker;

    var setLatLngFields = function(lat, lng) {
        $latField.val(lat);
        $lngField.val(lng);
    };

    var setMarker = function(lat, lng) {
        if (marker != undefined) { map.removeLayer(marker); }; // Only one!

        // Create the marker
        marker = L.marker([lat, lng], {
            draggable: true
        }).addTo(map);

        // Set the lat/lng fields for the first time...
        setLatLngFields(marker.getLatLng().lat, marker.getLatLng().lng);

        // ... Then make them follow the marker.
        marker.on('dragend', function (e) {
            setLatLngFields(marker.getLatLng().lat, marker.getLatLng().lng);
        });
    };

    // 1. Initialize the map
    map = L.map(mapId).setView(mapPosition, mapZoom);
    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png').addTo(map);

    // 2. Watch the address form
    $addressForm.submit(function (e) {
        // We submit the address form, let's first avoid default action
        e.preventDefault();

        const provider = new GeoSearch.OpenStreetMapProvider({
            params: {
                countrycodes: 'BE'
            }
        });

        provider
            .search({query: $addressField.val()})
            .then(function (result) {
                var firstResult = result[0];
                console.log(result);
                setMarker(firstResult.y, firstResult.x);
                map.fitBounds(firstResult.bounds);
            });
    });
</script>
{% endblock %}
