{% extends 'vespawatch/base.html' %}

{% load static %}
{% load i18n %}
{% load page_fragments %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{% trans "Hello, world!" %}</h1>

            {% get_page_fragment 'welcome' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="range"></div>
            <span id="range-start"></span>
            <span id="range-end"></span>


        </div>
        <div class="col">
            <a href="{% url 'vespawatch:observation-add' %}" class="btn btn-success">{% trans "New observation" %}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script src="{% static 'vespawatch/js/vespawatch.js' %}"></script>
{% endblock %}