{% extends 'vespawatch/base.html' %}

{% load static %}
{% load i18n %}
{% load page_fragments %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url('{% static 'vespawatch/img/cover.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{% trans 'Monitor the invasion of the Asian hornet'%}</h1>
                <a class="btn btn-lg btn-primary mr-2" href="{% url 'vespawatch:observation-add' %}">{% trans 'Record an observation' %}</a>
                <a class="btn btn-lg btn-secondary" href="{% url 'vespawatch:action-add' %}">{% trans 'Record an action' %}</a>
            </div>
        </div>
    </div>
</div>

<main class="container" id="vw-main-app">
    <div>
    {% get_page_fragment 'welcome' %}
    </div>

    <div class="row">
        <div class="col">
            <vw-observations-viz></vw-observations-viz>
            <div id="map"></div>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'vespawatch/js/vespawatch.js' %}"></script>
{% endblock %}
