{% extends 'vespawatch/base.html' %}
{% load i18n %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">{% trans "Observation" %}</h1>
            <hr class="mt-0 mb-4">

            <dl>
                <dt>{% trans "Species" %}</dt>
                <dd>{% if observation.inaturalist_species %}
                {{ observation.inaturalist_species }}
                {% else %}
                {{  observation.species.name }}
                {% endif %}</dd>

                <dt>{% trans "ID" %}</dt>
                <dd>{{ observation.pk }}</dd>

                <dt>{% trans "Subject" %}</dt>
                <dd>{{ observation.get_subject_display }}</dd>

                <dt>{% trans "Location" %}</dt>
                <dd>{{ observation.location }}</dd>

                <dt>{% trans "Latitude" %}</dt>
                <dd>{{ observation.latitude }}</dd>

                <dt>{% trans "Longitude" %}</dt>
                <dd>{{ observation.longitude }}</dd>

                <dt>{% trans "iNaturalist ID" %}</dt>
                <dd>{{ observation.inaturalist_id }}</dd>

                <dt>{% trans "Observation time" %}</dt>
                <dd>{{ observation.observation_time }}</dd>

                <dt>{% trans "Observer" %}</dt>
                <dd>{{ observation.observer_title }} {{ observation.observer_first_name }} {{ observation.observer_last_name }}</dd>

                <dt>{% trans "Email" %}</dt>
                <dd>{{ observation.observer_email }}</dd>

                <dt>{% trans "Phone" %}</dt>
                <dd>{{ observation.observer_phone }}</dd>

                <dt>{% trans "Is beekeper" %}</dt>
                <dd>{{ observation.observer_is_beekeeper }}</dd>

                <dt>{% trans "Data processing allowed" %}</dt>
                <dd>{{ observation.observer_approve_data_process }}</dd>

                <dt>{% trans "Display data apporved" %}</dt>
                <dd>{{ observation.observer_approve_display }}</dd>

                <dt>{% trans "Distribute data apporved" %}</dt>
                <dd>{{ observation.observer_approve_data_distribution }}</dd>

                <dt>{% trans "Comments" %}</dt>
                <dd>{{ observation.comments }}</dd>
            </dl>

        {% if observation.observationpicture_set %}
            {% for image in observation.observationpicture_set.all %}
                <img src="{{ image.image.url }}">
            {% endfor %}
        {% endif %}

        <br>

            {% if user.is_authenticated %}
                {% if observation.originates_in_vespawatch %}
                    <a href="{% url 'vespawatch:observation-update' observation.pk %}" class="btn btn-success"> {% trans "Edit" %}</a>
                    <a href="{% url 'vespawatch:observation-delete' observation.pk %}" class="btn btn-danger"> {% trans "Delete" %}</a>
                {% else %}
                    <span>This observation was created on iNaturalist. You cannot edit it here</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
