{% load i18n %}
{% load crispy_forms_tags %}
{% csrf_token %}
{{ form.species|as_crispy_field }}
{{ form.individual_count|as_crispy_field }}
{{ form.behaviour|as_crispy_field }}
{{ form.subject|as_crispy_field }}

{#Location geocoding#}
<div id="div_id_location" class="form-group">
<label for="id_location" class="col-form-label ">{% trans "Location" %}</label>

<div class="">
<input type="text" name="id_location" class="textinput form-control" id="id_location">
<button type="button" onclick="getLocationCoordinates()" class="btn btn-success">{% trans "Get position" %}</button>
</div>
</div>


<div class="row">
    <div class="col">
        <div id="map" style="width: 640px; height: 480px;"></div>
    </div>
</div>


{{ form.longitude|as_crispy_field }}
{{ form.latitude|as_crispy_field }}
{{ form.observation_time|as_crispy_field }}
{{ form.comments|as_crispy_field }}
{{ form.images|as_crispy_field }}
{% if not user.is_authenticated %}
    {{ form.observer_title|as_crispy_field }}
    {{ form.observer_last_name|as_crispy_field }}
    {{ form.observer_first_name|as_crispy_field }}
    {{ form.observer_email|as_crispy_field }}
    {{ form.observer_is_beekeeper|as_crispy_field }}
    {{ form.observer_approve_data_process|as_crispy_field }}
    {{ form.observer_approve_display|as_crispy_field }}
    {{ form.observer_approve_data_distribution|as_crispy_field }}
{% endif %}
