{% load static %}
{% load i18n %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ settings.WEBSITE_NAME }}</title>

    <script type="text/javascript">
      var VWConfig = {% js_config_object %};
    </script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'vespawatch/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'vespawatch/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'vespawatch/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'vespawatch/icons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'vespawatch/icons/safari-pinned-tab.svg' %}" color="#ea792a">
    <link rel="shortcut icon" href="{% static 'vespawatch/icons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#ea792a">
    <meta name="msapplication-config" content="{% static 'vespawatch/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'vespawatch/libraries/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'vespawatch/libraries/vue/vue-datetime.min.css' %}">
    <link rel="stylesheet" href="{% static 'vespawatch/libraries/vue/vue2Dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'vespawatch/css/main.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'vespawatch:index' %}">
          <img src="{% static 'vespawatch/img/avatar.jpg' %}" class="d-inline-block align-top" alt="">
          {{ settings.WEBSITE_NAME }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto">
            {% if user.profile.zone or user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vespawatch:management' %}">{% trans 'Fire department' %}</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vespawatch:getinvolved' %}">{% trans 'Get involved' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vespawatch:identification' %}">{% trans 'Identification' %}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown">{% trans 'About' %}</a>
              <div class="dropdown-menu" aria-labelledby="about-dropdown">
                <a class="dropdown-item" href="{% url 'vespawatch:about_vespavelutina' %}">{% trans 'Vespa velutina' %}</a>
                <a class="dropdown-item" href="{% url 'vespawatch:about_management' %}">{% trans 'Management' %}</a>
                <a class="dropdown-item" href="{% url 'vespawatch:about_project' %}">{% trans 'Project' %}</a>
                <a class="dropdown-item" href="{% url 'vespawatch:about_privacypolicy' %}">{% trans 'Privacy policy' %}</a>
                <a class="dropdown-item" href="{% url 'vespawatch:about_links' %}">{% trans 'Links' %}</a>
              </div>
            </li>
          </ul>
          
          <ul class="navbar-nav mr-3">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" role="button" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</a>
                <div class="dropdown-menu" aria-labelledby="user-dropdown">
                  <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="btn btn-primary btn-sm" href="{% url 'login' %}">{% trans 'Log in' %}</a>
              </li>
            {% endif %}
          </ul>

          <ul class="navbar-nav">
            <form class="form-inline" action="{% url 'set_language' %}" method="post" id="lang-form">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">
              <select class="form-control form-control-sm" name="language" id="lang">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_language_info_list for settings.LANGUAGES_AVAILABLE_IN_SELECTOR as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{ language.name_local }}</option>
                {% endfor %}
              </select>
            </form>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <p>
              <a class="mr-3" href="https://www.inbo.be"><img src="{% static 'vespawatch/img/logo_inbo.png' %}" height="40" alt=""></a>
              <a href="https://www.honeybeevalley.eu/"><img src="{% static 'vespawatch/img/logo_honeybeevalley.png' %}" height="40" alt=""></a>
            </p>
            <p>
              {% blocktrans %}
                This project was funded by <a href="https://www.ewi-vlaanderen.be/oproep-citizen-science-geselecteerde-projecten">EWI</a>
                and developed by the <a href="https://oscibio.inbo.be">Open science lab for biodiversity</a>.
                Thanks to the <a href="https://www.inaturalist.org/">iNaturalist community</a> for verifying observations.
                INBO is a member of the <a href="http://ecsa.citizen-science.net/">European Citizen Science Association (ECSA)</a>.
              {% endblocktrans %}
            </p>
          </div>
          <div class="col-lg-3">
            <ul class="list-unstyled">
              <li><a href="{% url 'vespawatch:about_project' %}">{% trans 'About this project' %}</a></li>
              <li><a href="{% url 'vespawatch:about_privacypolicy' %}">{% trans 'Privacy policy' %}</a></li>
              <li><a href="mailto:vespawatch@inbo.be">{% trans 'Contact us' %}</a></li>
              <li><a href="https://github.com/inbo/vespa-watch">{% trans 'Source code' %}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- JS -->
    <script src="{% static 'vespawatch/libraries/bootstrap/jquery.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/bootstrap/bootstrap.min.js' %}"></script>
    
    {% if settings.JS_DEBUG %}
      {# see https://vuejs.org/v2/guide/deployment.html#Without-Build-Tools #}
      <script src="{% static 'vespawatch/libraries/vue/vue.js' %}"></script>
    {% else %}
      <script src="{% static 'vespawatch/libraries/vue/vue.min.js' %}"></script>
    {% endif %}
    
    <script src="{% static 'vespawatch/libraries/vue/luxon.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/vue/vue-datetime.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/vue/vue2Dropzone.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/axios/axios.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/crossfilter/crossfilter.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/leaflet/leaflet-geosearch.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/leaflet/spin.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/leaflet/leaflet.spin.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/moment/moment.min.js' %}"></script>
    <script src="{% static 'vespawatch/libraries/wnumb/wnumb.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'vespawatch/js/app.min.js' %}"></script>
  </body>
</html>
