{% extends 'vespawatch/base.html' %}

{% load static %}
{% load i18n %}
{% load page_fragments %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url('{% static 'vespawatch/img/cover.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{% trans 'Monitor the invasion of the Asian hornet'%}</h1>
                <a class="btn btn-lg btn-primary" href="{% url 'vespawatch:new' %}">{% trans 'Record an observation' %}</a>
            </div>
        </div>
    </div>
</div>

<main class="container" id="vw-main-app">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <div>
    {% get_page_fragment 'welcome' %}
    </div>

    <vw-observations-viz></vw-observations-viz>
</main>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
