{% extends 'vespawatch/base.html' %}
{% load i18n %}

{% block content %}
<main class="container" id="vw-main-app">
    {% if user.is_authenticated %}
        <h1>{% trans "Individual" %} #{{ individual.pk }}</h1>

        <dl>
            <dt>{% trans "Species" %}</dt>
            <dd>
            {% if individual.inaturalist_species %}
                {{ individual.inaturalist_species }}
            {% else %}
                {{ individual.taxon.name }}
            {% endif %}
            </dd>

            <dt>{% trans "ID" %}</dt>
            <dd>{{ individual.pk }}</dd>

            <dt>{% trans "Address" %}</dt>
            <dd>{{ individual.address|default_if_none:'' }}</dd>

            <dt>{% trans "Latitude" %}</dt>
            <dd>{{ individual.latitude }}</dd>

            <dt>{% trans "Longitude" %}</dt>
            <dd>{{ individual.longitude }}</dd>

            <dt>{% trans "iNaturalist ID" %}</dt>
            <dd>{{ individual.inaturalist_id|default_if_none:'' }}</dd>

            <dt>{% trans "observation date" %}</dt>
            <dd>{{ individual.observation_time|default_if_none:'' }}</dd>

            <dt>{% trans "Observer" %}</dt>
            <dd>{{ individual.get_observer_display|default_if_none:'' }}</dd>

            <dt>{% trans "Email" %}</dt>
            <dd>{{ individual.observer_email|default_if_none:'' }}</dd>

            <dt>{% trans "Phone" %}</dt>
            <dd>{{ individual.observer_phone|default_if_none:'' }}</dd>

            <dt>{% trans "Is beekeper" %}</dt>
            <dd>{{ individual.observer_is_beekeeper|default_if_none:'' }}</dd>

            <dt>{% trans "Comments" %}</dt>
            <dd>{{ individual.comments|default_if_none:'' }}</dd>
        </dl>

        {% if individual.pictures %}
            <div>
            {% for picture in individual.pictures.all %}
                <img class="img-thumbnail" style="max-width: 200px;" src="{{ picture.image.url }}">
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</main>
{% endblock %}
