{% extends 'vespawatch/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
<main class="container" id="vw-main-app">
    <h1>{% trans 'Report observation' %}</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
            {% trans 'Please correct the errors below.' %}
            {{ form.errors }}
        </div>
    {% endif %}

    <form method="post" action="{% url 'vespawatch:individual-add' %}"enctype='multipart/form-data' novalidate>
        {% csrf_token %}

        {{ form.card_id.as_hidden }}
        {{ form.taxon.as_hidden }}
        {{ form.redirect_to.as_hidden }}

        <div class="row">
            <div class="col-lg-6">
                {% include 'vespawatch/includes/identification_card.html' with taxon_selected=True %}
            </div>
        </div>

        <h5>{% trans 'Images' %}</h5>

        {{ image_formset.management_form }}
        <small class="form-text text-muted">{% trans 'Upload at least one image of your observation' %}</small>
        <div class="row">
            {% for image_form in image_formset %}
                <div class="col-md-6">
                    {{ image_form.image|as_crispy_field }}
                    {{ image_form.DELETE|as_crispy_field }}
                </div>
            {% endfor %}
        </div>

        <h5>{% trans 'Location' %}</h5>
        {% if object %}
            <vw-location-selector v-bind:init-coordinates="[{{ object.longitude }}, {{ object.latitude }}]"
                init-marker="true"
                address="{{ object.address }}">
            </vw-location-selector>
        {% else %}
            <vw-location-selector
                {% if form.data %}
                    v-bind:init-coordinates="[{{ form.data.longitude|default_if_none:4.5 }}, {{ form.data.latitude|default_if_none:50.7 }}]"
                    init-marker="true"
                {% else %}
                    v-bind:init-coordinates="[4.5, 50.7]"
                    init-marker="false"
                {% endif %}
                    address="{{ form.data.address|default_if_none:'' }}">
            </vw-location-selector>
        {% endif %}

        <h5>{% trans 'Date' %}</h5>
        {% if object %}
            <vw-datetime-selector :is-required="true" hidden-field-name="observation_time"
                init-date-time="{{ object.observation_time_iso }}">
            </vw-datetime-selector>
        {% else %}
            <vw-datetime-selector :is-required="true" hidden-field-name="observation_time"
                init-date-time="{{ form.data.observation_time|default_if_none:'' }}">
            </vw-datetime-selector>
        {% endif %}

        <h5>{% trans 'Description' %}</h5>
        <div class="row">
            <div class="col-lg-6">
                {{ form.individual_count|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.behaviour|as_crispy_field }}
            </div>
        </div>
        {{ form.comments|as_crispy_field }}
        
        {% if not user.is_authenticated %}
            <h5>{% trans 'Contact information' %}</h5>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    {{ form.observer_first_name|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-md-6">
                    {{ form.observer_last_name|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-md-6">
                    {{ form.observer_phone|as_crispy_field }}
                </div>
                <div class="col-lg-3 col-md-6">
                    {{ form.observer_email|as_crispy_field }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="id_terms_of_service" >
                    <label class="form-check-label" for="id_terms_of_service">
                        {% url 'vespawatch:about_privacypolicy' as privacypolicy_page %}
                        {% blocktrans %}
                            I agree with the <a href="{{ privacypolicy_page }}" target="_blank">privacy policy</a>.
                        {% endblocktrans %}
                    </label>
                </div>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-success">{% trans 'Report observation' %}</button>
        <a class="btn btn-light" href="{% url 'vespawatch:index' %}">{% trans 'Cancel' %}</a>
    </form>
</main>
{% endblock %}
