{% extends 'vespawatch/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<main id="vw-main-app" class="container">
    <h1>{% trans "Record an individual" %}</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
            {% trans "Please correct the errors below" %}
        </div>
        {{ form.errors }}
    {% endif %}

    <h2>Identification card</h2>
    Represented taxon: {{ identif_card.represented_taxon }}

    <form method="post" action="{% url 'vespawatch:individual-add' %}"enctype='multipart/form-data' novalidate>
        {% include 'vespawatch/includes/individual_form.html' %}
        <button type="submit" class="btn btn-success">{% trans "Save individual" %}</button>
        <a class="btn btn-light" href="{% url 'vespawatch:index' %}">{% trans "Cancel" %}</a>
    </form>
</main>
{% endblock %}
