{% extends 'vespawatch/base.html' %}

{% load static %}
{% load i18n %}
{% load page_fragments %}

{% block content %}

<main class="container" id="vw-main-app">

    <a class="btn btn-lg btn-primary" href="{% url 'vespawatch:new' %}">{% trans 'Record an observation' %}</a>

    <vw-management-page admin="{% if user.is_staff %}1{% else %}0{% endif %}"
                        init-zone='{% if user.profile.zone %}{ "id": {{ user.profile.zone.pk }}, "name": "{{ user.profile.zone.name }}" }{% endif %}'>

    </vw-management-page>

</main>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
