{% load i18n %}
{% load crispy_forms_tags %}
{% csrf_token %}

<vw-species-selector {% if form.instance.species %}:species-selected="{{ form.instance.species.pk }}"{% endif %} species-api-url="{% url 'vespawatch:api_species' %}" radio-name="species"></vw-species-selector>

<vw-location-selector v-bind:init-coordinates="{% if object %}[{{ object.longitude }}, {{ object.latitude }}]{% else %}[4.5, 50.7]{% endif %}"
                      init-marker="{% if object %}true{% else %}false{% endif %}"
                      location="{% if object %}{{ object.location }}{% endif %}"></vw-location-selector>

<vw-datetime-selector :is-required="true" hidden-field-name="observation_time"></vw-datetime-selector>
{{ form.comments|as_crispy_field }}
{{ image_formset.management_form }}
{% for f in image_formset %}
    {{ f|crispy }}
{% endfor %}

{% if user.is_authenticated %}
    <h3>{% trans "Management action" %}</h3>
    {{ management_formset.management_form }}

    {% for f in management_formset %}
        {{ f|crispy }}
    {% endfor %}

{% else %}

    {{ form.observer_title|as_crispy_field }}
    {{ form.observer_last_name|as_crispy_field }}
    {{ form.observer_first_name|as_crispy_field }}
    {{ form.observer_email|as_crispy_field }}
    {{ form.observer_is_beekeeper|as_crispy_field }}
    <div class="form-group">
        <div id="div_id_terms_of_service" class="form-check">
            <label for="id_terms_of_service" class="form-check-label">
                <input type="checkbox" name="terms_of_service" id="id_terms_of_service" class="checkboxinput form-check-input">
                {% trans "Accept the" %} <button type="button" class="btn btn-link" data-toggle="modal" data-target="#TOSModal">{% trans "terms of service" %}</button>
            </label>
        </div>
    </div>

    {% include 'vespawatch/terms_of_service_modal.html' %}

{% endif %}
