{% extends 'vespawatch/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
<main id="vw-main-app" class="container">
    <h1>{% trans 'Report a nest for' %} !!vernacular name</h1>

    <div class="row">
        <div class="col-lg-3 mb-4 order-lg-2">
            <div class="card d-none d-lg-block">
                <a href="#">
                    
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ identif_card.represented_taxon.name }}</h5>
                    <h6 class="card-subtitle text-muted mb-2"><em>{{ identif_card.represented_taxon.vernacular_name }}</em></h6>
                    <div class="card-text">
                        {{ identif_card.description|markdown }}
                    </div>
                    <p class="card-text">
                        <a class="card-link" href="{{ identif_card.represented_taxon.inat_pictures_link }}" target="_blank">More pictures</a>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" href="{% url 'vespawatch:observation-add' %}">« {% trans 'Report something else' %}</a>
                </div>
            </div>
            <div class="d-lg-none">
                <a class="btn btn-primary" href="{% url 'vespawatch:observation-add' %}">« {% trans 'Report something else' %}</a>
            </div>
        </div>

        <div class="col-lg-9">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% trans "Please correct the errors below" %}
                    {{ form.errors }}
                </div>
            {% endif %}

            <form method="post" action="{% url 'vespawatch:nest-add' %}"enctype='multipart/form-data' novalidate>
                {% include 'vespawatch/includes/nest_form.html' %}
                <button type="submit" class="btn btn-success">{% trans "Report nest" %}</button>
                <a class="btn btn-light" href="{% url 'vespawatch:index' %}">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}
