{% extends 'vespawatch/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<main id="vw-main-app" class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">{% trans "Did you observe an individual or a nest?" %}</h1>
            <hr class="mt-0 mb-4">


                <a class="btn btn-lg btn-primary mr-2" href="{% url 'vespawatch:individual-add' %}">{% trans 'Individual(s)' %}</a>
                <a class="btn btn-lg btn-primary mr-2" href="{% url 'vespawatch:nest-add' %}">{% trans 'Nest' %}</a>

            </form>
        </div>
    </div>
</main>
{% endblock %}
