{% extends 'vespawatch/base.html' %}

{% load i18n %}

{% block content %}
<main class="container">
    <h1 class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-end">
        {% trans 'Latest observations' %}
        <a class="btn btn-primary" href="{% url 'vespawatch:observation-add' %}">{% trans 'Add your observation' %}</a>
    </h1>

    <div class="row theme-card-deck">
    {% for obs in observations %}
        <div class="col-lg-3 col-sm-6">
            {% include 'vespawatch/includes/obs_card.html' %}
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row theme-card-deck">
        {% endif %}
    {% endfor %}
    </div>

    <p>
    {% blocktrans %}
        For more observations, see the <a href="{{ settings.VESPAWATCH_PROJECT_URL }}">Vespa-Watch project on iNaturalist</a>.
    {% endblocktrans %}
    </p>
</main>
{% endblock %}
