{% extends 'vespawatch/base.html' %}
{% load i18n %}

{% block content %}
<main class="container" id="vw-main-app">
  <h1>{% trans 'Latest observations' %}</h1>
  <p>
      <a class="btn btn-primary" href="{% url 'vespawatch:observation-add' %}">{% trans 'Add your observation' %}</a>
      <a class="btn btn-secondary" href="https://www.inaturalist.org/observations/identify?user_id=vespawatch">{% trans 'Verify observations' %}</a>
    </div>
  </p>

  {% include 'vespawatch/includes/obs_cards.html' %}
    
  <p>
    {% blocktrans with project_url=settings.VESPAWATCH_PROJECT_URL %}
      For more observations, see the <a href="{{ project_url }}">Vespa-Watch project on iNaturalist</a>.
    {% endblocktrans %}
  </p>
</main>
{% endblock %}
