{% extends 'vespawatch/base.html' %}
{% load i18n %}

{% block content %}
<main class="container">
    <h1>{% trans 'What did you see?' %}</h1>
    <p class="alert alert-warning">
        {% trans 'Note: you will have to upload a photo in the next step, so your observation can be verified.' %}
    </p>

    {% if identification_cards|length == 0 %}
        {% trans 'No identification cards defined. Create these in the admin interface.' %}
    {% endif %}

    <div class="row theme-card-deck">
    {% for id_card in identification_cards %}
        <div class="col-lg-6">
            {% include 'vespawatch/includes/identification_card.html' %}
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}
