{% extends 'vespawatch/base.html' %}
{% load static %}
{% load i18n %}
{% load page_fragments %}
{% load crispy_forms_tags %}

{% block content %}
<main class="container" id="vw-main-app">
  <div class="row justify-content-lg-center">
    <div class="col-lg-8 col-lg-auto">
      <h1>{% trans 'My profile' %}</h1>

      {% if form.errors %}
        <div class="alert alert-danger">
          {% trans 'Please correct the errors below.' %}
        </div>
      {% endif %}
      
      <form method="post" action="{% url 'vespawatch:profile' %}" enctype='multipart/form-data' novalidate>
        {% csrf_token %}
        
        <div class="row">
          <div class="col-lg-6">
            {% trans 'Username' %}: <code>{{ username }}</code>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-primary float-right" href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
          </div>
        </div>

        {{ form|crispy }}

        <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
        <a class="btn btn-light" href="{% url 'vespawatch:index' %}">{% trans 'Cancel' %}</a>
      </form>
    </div>
  </div>
</main>
{% endblock %}
