{% load static %}
{% load i18n %}
{% load custom_tags %}

<div class="card w-100 flex-row overflow-hidden{% if identif_card.represents_nest %} bg-primary{% endif %}">
    {% if identif_card.identification_picture %}
        <img class="fluid-img align-self-center theme-img-square" src="{{ identif_card.identification_picture.url }}">
    {% else %}
        <img class="fluid-img align-self-center theme-img-square" src="{% static 'vespawatch/img/no_image_square.png' %}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            {% if identif_card.represents_nest %} {% trans 'Nest of' %}{% endif %}
            {{ identif_card.represented_taxon.vernacular_name }}
        </h5>
        <h6 class="card-subtitle text-muted mb-2">
            <em>{{ identif_card.represented_taxon.name }}</em>
        </h6>
        <div class="card-text">
            {{ identif_card.description|markdown }}
        </div>
        {% if taxon_selected %}
            <a class="btn btn-light" href="{% url 'vespawatch:observation-add' %}">« {% trans 'Report something else' %}</a>
        {% elif identif_card.represents_nest %}
            <a class="btn btn-light stretched-link" href="{% url 'vespawatch:nest-add' %}?card_id={{ identif_card.pk }}&redirect_to=index">{% trans 'Report nest' %}</a>
        {% else %}
            <a class="btn btn-primary stretched-link" href="{% url 'vespawatch:individual-add' %}?card_id={{ identif_card.pk }}&redirect_to=index">{% trans 'Report observation' %}</a>
        {% endif %}
    </div>
</div>
