{% load i18n %}
{% load crispy_forms_tags %}
{% csrf_token %}

<vw-taxon-selector {% if form.instance.taxon %}:taxon-selected="{{ form.instance.taxon.pk }}"{% endif %} mode="nest" taxon-api-url="{% url 'vespawatch:api_taxa' %}" radio-name="taxon"></vw-taxon-selector>

{% if object %}
    <vw-location-selector v-bind:init-coordinates="[{{ object.longitude }}, {{ object.latitude }}]"
                          init-marker="true"
                          address="{{ object.address }}"></vw-location-selector>
    <vw-datetime-selector :is-required="true" hidden-field-name="observation_time"
                          init-date-time="{{ object.observation_time_iso }}"></vw-datetime-selector>
{% else %}
    <vw-location-selector
        {% if form.data %}
            v-bind:init-coordinates="[{{ form.data.longitude|default_if_none:4.5 }}, {{ form.data.latitude|default_if_none:50.7 }}]"
            init-marker="true"
        {% else %}
            v-bind:init-coordinates="[4.5, 50.7]"
            init-marker="false"
        {% endif %}
            address="{{ form.data.address|default_if_none:'' }}"
    ></vw-location-selector>

    <vw-datetime-selector :is-required="true" hidden-field-name="observation_time"
                          init-date-time="{{ form.data.observation_time|default_if_none:'' }}"></vw-datetime-selector>
{% endif %}

{{ form.size|as_crispy_field }}
{{ form.height|as_crispy_field }}

{{ form.comments|as_crispy_field }}
{{ form.redirect_to.as_hidden }}
{{ image_formset.management_form }}
{% for f in image_formset %}
    {{ f|crispy }}
{% endfor %}

{% if user.is_authenticated %}
    <h3>{% trans "Management action" %}</h3>
    {{ management_formset.management_form }}

    {% for f in management_formset %}
        {{ f|crispy }}
    {% endfor %}

{% else %}

    {{ form.observer_last_name|as_crispy_field }}
    {{ form.observer_first_name|as_crispy_field }}
    {{ form.observer_phone|as_crispy_field }}
    {{ form.observer_email|as_crispy_field }}
    {{ form.observer_is_beekeeper|as_crispy_field }}
    <div class="form-group">
        <div id="div_id_terms_of_service" class="form-check">
            <label for="id_terms_of_service" class="form-check-label">
                <input type="checkbox" name="terms_of_service" id="id_terms_of_service" class="checkboxinput form-check-input">
                {% trans "Accept the" %} <button type="button" class="btn btn-link" data-toggle="modal" data-target="#TOSModal">{% trans "terms of service" %}</button>
            </label>
        </div>
    </div>

    {% include 'vespawatch/terms_of_service_modal.html' %}

{% endif %}
