{% load humanize %}

<div class="card">
    {% for picture in obs.pictures.all|slice:":1" %}
        <a href="{% url 'vespawatch:individual-detail' obs.pk %}">
            <img class="card-img-top" src="{{ picture.image.url }}">
        </a>
    {% endfor %}

    <div class="card-body">
        <h5 class="card-title">{{ obs.taxon.vernacular_name }}</h5>
        <h6 class="card-subtitle text-muted mb-2"><em>{{ obs.taxon.name }}</em></h6>
        <p class="card-text">
            <span class="badge badge-secondary">nest</span>
            <span class="badge badge-success">validated</span>
        </p>
        <p class="card-text">
            <a href="{% url 'vespawatch:individual-detail' obs.pk %}" class="card-link">View</a>
            <a href="https://inaturalist.org/observations/{{ obs.inaturalist_id }}" class="card-link">iNaturalist</a>
        </p>
    </div>
    <div class="card-footer text-muted">
        <small>{{ obs.observation_time|naturalday }}</small>
    </div>
</div>
