{% load humanize %}
{% load i18n %}

<div class="card">
    {% for picture in obs.pictures.all|slice:":1" %}
        <a href="{{ obs.get_detail_page_url }}">
            <img class="card-img-top" src="{{ picture.thumbnail.url }}">
        </a>
    {% endfor %}
    <div class="card-body">
        <h5 class="card-title">{{ obs.taxon.vernacular_name }}</h5>
        <h6 class="card-subtitle text-muted mb-2"><em>{{ obs.taxon.name }}</em></h6>
        <p class="card-text">
            <span class="badge badge-secondary text-lowercase">{% if obs.subject == 'nest' %}{% trans 'Nest' %}{% else %}{% trans 'Individual' %}{% endif %}</span>
            <span class="badge badge-success text-lowercase">{% trans 'Validated' %}</span>
        </p>
        <p class="card-text">
            <a class="card-link" href="{{ obs.get_detail_page_url }}" >{% trans 'Details' %}</a>
            {% if obs.inaturalist_obs_url %}
                <a class="card-link" href="{{ obs.inaturalist_obs_url }}">iNaturalist</a>
            {% endif %}
        </p>
    </div>
    <div class="card-footer text-muted">
        <small>{{ obs.observation_time|naturalday }}</small>
    </div>
</div>
